<div class="space-y-6">
  <div class="space-y-3">
    <button
      class="group w-full flex flex-col items-center p-2 rounded-lg border-gray-200 transition-colors"
      [class]="
        'hover:border-navHover-border hover:bg-navHover-bg text-gray-600 hover:text-navHover-text'
      "
    >
      <mat-icon class="mb-1" [class]="'text-gray-400 group-hover:text-navHover-icon'">
        school
      </mat-icon>
      <span class="label">Action 1</span>
    </button>
    <div class="border-b border-gray-200"></div>
    <button
      class="group w-full flex flex-col items-center p-2 rounded-lg border-gray-200 transition-colors"
      [class]="
        'hover:border-navHover-border hover:bg-navHover-bg text-gray-600 hover:text-navHover-text'
      "
    >
      <mat-icon class="mb-1" [class]="'text-gray-400 group-hover:text-navHover-icon'">
        school
      </mat-icon>
      <span class="label">Action 2</span>
    </button>
  </div>
</div>
