<!-- Employee Summary Section -->
<div class="card" *ngIf="selectedEmployee">
  <!-- Top Section -->
  <div class="flex-col border-b-gray-300">
    <div class="flex items-center mb-4">
      <button
        (click)="backToEmployeeList.emit()"
        class="flex mr-2 p-2 text-gray-400 hover:text-gray-600 rounded-lg hover:bg-gray-100"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>{{ selectedEmployee.name }}</h1>
    </div>
    <div class="flex justify-between px-4">
      <div class="flex-col">
        <p class="text-sm text-text-gray tracking-wider">No.</p>
        <h5>
          {{ selectedEmployee.employeeNo }}
        </h5>
      </div>
      <div class="flex-col">
        <p class="text-sm text-text-gray tracking-wider">Team:</p>
        <h5>{{ selectedEmployee.team }}</h5>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-200 mt-4 mx-[-24px]"></div>

  <!-- Bottom Section -->
  <div>
    <h2 class="overview__heading">Overview</h2>
    <div class="overview__group overview__group--primary">
      <!-- Total Earnings -->
      <div class="overview__row">
        <div class="overview__icon overview__icon--earnings">
          <mat-icon class="overview__icon-inner">trending_up</mat-icon>
        </div>
        <div class="overview__meta">
          <p class="overview__label">Total Earnings</p>
          <h2 class="overview__value">{{ formatCurrency(totalEarnings()) }}</h2>
        </div>
      </div>

      <!-- Total Deductions -->
      <div class="overview__row">
        <div class="overview__icon overview__icon--deductions">
          <mat-icon class="overview__icon-inner">trending_down</mat-icon>
        </div>
        <div class="overview__meta">
          <p class="overview__label">Total Deductions</p>
          <h2 class="overview__value">{{ formatCurrency(totalDeductions()) }}</h2>
        </div>
      </div>

      <!-- Net Total -->
      <div class="overview__row">
        <div class="overview__icon overview__icon--net">
          <mat-icon class="overview__icon-inner">account_balance</mat-icon>
        </div>
        <div class="overview__meta">
          <p class="overview__label">Net Total</p>
          <h2 class="overview__value">{{ formatCurrency(netTotal()) }}</h2>
        </div>
      </div>
    </div>
    <div class="overview__group overview__group--secondary">
      <!-- UIF -->
      <div class="overview__row">
        <div class="overview__icon overview__icon--muted">
          <mat-icon class="overview__icon-inner overview__icon-accent">description</mat-icon>
        </div>
        <div class="overview__meta">
          <p class="overview__label">UIF</p>
          <h2 class="overview__value">{{ formatCurrency(uifAmount()) }}</h2>
        </div>
      </div>

      <!-- PAYE -->
      <div class="overview__Row overview__row">
        <div class="overview__icon overview__icon--muted">
          <mat-icon class="overview__icon-inner overview__icon-accent">payments</mat-icon>
        </div>
        <div class="overview__meta">
          <p class="overview__label">PAYE</p>
          <h2 class="overview__value">{{ formatCurrency(payeAmount()) }}</h2>
        </div>
      </div>

      <!-- Total -->
      <div class="overview__row">
        <div class="overview__icon overview__icon--muted">
          <mat-icon class="overview__icon-inner overview__icon-accent">point_of_sale</mat-icon>
        </div>
        <div class="overview__meta">
          <p class="overview__label">Total</p>
          <h2 class="overview__value">
            {{ formatCurrency(totalEarnings() - totalDeductions()) }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
